html{
    background-image: url(piygmyMarmoset.webp);
}

body {
    text-align: center;
}

p, h1 {
    color: white;
    background-color: rgb(26, 26, 119);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
